<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Chatwall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.min" rel="stylesheet">
    <link href="/bootstrap/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Chatwall</a>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span8">
            <div class="well">
                <h2>Wall</h2>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                Hello, <a href="#" id="username">{{ user.asArray.name }}</a>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        &nbsp;
    </footer>

</div>



    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#username').editable({
                type:  'text',
                name:  'name',
                url:   '/user/save',
                title: 'Enter username',
                placement: 'bottom',
                inputclass: 'span3',
                send: 'always',
                validate: function(value) {
                    if($.trim(value) == '')
                        return "Name can't be empty";
                }
            });
        });
    </script>
    <style>
        #username, #username form {
            display: inline;
        }
    </style>
</body>
</html>
