<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Chatwall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/bootstrap/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Chatwall</a>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span4">
            <div class="well">
                Hello, <a href="#" id="username">{{ user.asArray.name }}</a>
                <form method="POST" id="message_form">
                    <textarea id="message" name="message" class="span4"></textarea>
                    <div class="pull-right">
                        <a id="add_picture" class="btn btn-small" title="Attach picture"><i class="icon-picture"></i></a>
                        <a id="add_video" class="btn btn-small" title="Attach video"><i class="icon-facetime-video"></i></a>
                        <a id="add_link" class="btn btn-small" title="Attach link"><i class="icon-share"></i></a>
                        <input type="submit" class="btn" value="Send message">
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div id="attachments">
                    </div>
                </form>
            </div>
        </div>
        <div class="span8">
            <div class="well">
                <h2>Wall</h2>
                <div id="messages"> </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        &nbsp;
    </footer>

</div>



    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        var last_message = 0;

        function attach_wrapper(str) {
            return '<div class="well">'+str+'</div>';
        }

        function delete_message(id) {
            //TODO error handling
            $.getJSON(
                '/messages/delete?id='+id,
                function(data) {
                    $('#message'+id).remove();
                }
            );
        }

        function like_message(id) {
            //TODO error handling
            $.getJSON(
                '/messages/like?id='+id,
                function(data) {
                    if(data.likes_count) {
                        $('#message'+id+' .likes-count').text(data.likes_count);
                        $('#message'+id+' .likes').html('<i class="icon-thumbs-up liked"></i> [' + data.likes_count + ']');
                    }
                }
            );
        }


        function load_messages() {
            //TODO error handling
            $.getJSON(
                '/messages/getlast?from='+last_message,
                function(data) {
                    $.each(data, function(i, message) {
                        $('#messages').prepend(
                            '<div class="well" id="message'+message.id+'">'+
                                '<div class="message-legend">'+
                                    message.username + ' at ' + message.date +
                                    (message.own?' <a href="#" title="Delete message" class="delete-message"><i class="icon-remove"></i></a>':'') +
                                    '<span class="pull-right likes">'+(message.liked?'<i class="icon-thumbs-up liked"></i> [' + message.likes_count + ']':'<a href="#" title="Like" class="like-message"><i class="icon-thumbs-up"></i></a> [' + message.likes_count + ']')+'</span>' +
                                '</div>'+
                                message.text+
                            '</div>');

                        $('#message'+message.id+' .delete-message').click(function() {
                            delete_message(message.id);
                            return false;
                        })

                        $('#message'+message.id+' .like-message').click(function() {
                            like_message(message.id);
                            return false;
                        })

                        last_message = message.id;
                    });
                }
            );
        }



        $(document).ready(function(){
            $('#username').editable({
                type:  'text',
                name:  'name',
                url:   '/user/save',
                title: 'Enter username',
                placement: 'bottom',
                inputclass: 'span3',
                send: 'always',
                validate: function(value) {
                    if($.trim(value) == '')
                        return "Name can't be empty";
                }
            });

            $('#message_form').ajaxForm({
                url: '/messages/add',
                target: '#attachments',
                success: function() {
                    load_messages();
                    $('#attachments').empty();
                    $('#message_form').clearForm();
                },
                error: function() {

                }
            });

            $('#add_picture').click(function(){
                http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/
                $("#attachments").append(attach_wrapper('Select image: <input name="images[]" type="file">'));
            });

            $('#add_video').click(function(){
                $("#attachments").append(attach_wrapper('<textarea name="videos[]" placeholder="Youtube video URL or embedded code" class="video"></textarea>'));
            });

            $('#add_link').click(function(){
                $("#attachments").append(attach_wrapper('<input name="links[]" type="text" placeholder="URL"></div>'));
            });

            load_messages();
        });
    </script>
</body>
</html>
